    <header style="background-color: #0095BA;" class="d-flex p-2">
    <div class="container">



        <ul class="nav nav-pills d-flex justify-content-between gap-3">    
          <div class="d-flex align-items-center">
            <li class="nav-item">
              <a href="/menu/associado/{{usuario.id}}" class=" text-dark fs-4" aria-current="page">
                <i class="bi bi-chevron-left text-light"></i>
              </a></li>
          </div>
          <div class="d-flex ">

            {{#if associadoStatus.status}}
                 <li class="nav-item"><a href="/menu/associado/{{usuario.id}}/reservas" class="nav-link d-flex align-items-center gap-2 text-light"  aria-current="page"><i class="bi bi-calendar-week"></i>Reservas</a></li>
        {{/if}}
          <li class="nav-item"><a style="background-color: #009ec5;" href="/menu/associado/{{usuario.id}}/conta" class=" shadow-sm nav-link d-flex align-items-center gap-2 text-light" aria-current="page"><i class="bi bi-person-circle"></i>Conta</a></li>
          <li class="nav-item"><a href="/login/logout" class="nav-link d-flex align-items-center gap-2 text-light"><i class="bi bi-box-arrow-left"></i>Sair</a></li>
          </div>
        </ul>




    </div>
  </header>

<section class="content-box p-3">
  <div
    id="form-box"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="fs-1">Editando Conta: {{usuario.nome_usuario}}</h1>
    <form
      action="/usuarios/update/save/user={{usuario.id}}"
      method="post"
      id="form-cadastro"
      class="w-50 p-3 d-flex flex-column gap-2"
    >
      <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input
          class="form-control"
          type="text"
          name="nome"
          id="nome"
          value="{{usuario.nome_usuario}}"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="cpf">CPF:</label>
        <input
          class="form-control"
          value="{{usuario.cpf_usuario}}"
          type="text"
          name="cpf"
          id="cpf"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input
          class="form-control"
          type="email"
          name="email"
          id="email"
          value="{{usuario.email_usuario}}"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="dataNasc">Data de Nascimento:</label>
        <input
          class="form-control"
          type="date"
          name="dataNasc"
          id="data-nasc"
          value="{{usuario.data_nascimento_usuario}}"
        />
      </div>
      <div class="m-3 d-flex justify-content-center align-items-center gap-3">
        {{#if genero}}
          <select class="form-select-sm" name="genero">
            <option value="Mulher" selected>Mulher</option>
            <option value="Homem">Homem</option>
          </select>
        {{else}}
          <select class="form-select-sm" name="genero">
            <option value="Homem" selected>Homem</option>
            <option value="Mulher">Mulher</option>
          </select>
        {{/if}}
      </div>
      <button
        type="submit"
        class="btn btn-primary w-25 align-self-center"
      >Atualizar</button>
      <a class="align-self-center w-100 btn"
        style="color: #fff; text-decoration: none;" href="/menu/associado/{{usuario.id}}/conta">
        <button
        class="btn-primary btn w-25"
      >
        Voltar</button></a>
    </form>
  </div>
</section>